services:
  redis-node-1:
    image: redis:7.2.3
    hostname: redis-node-1
    command: /tmp/redis.sh
    env_file: .env
    volumes:
      - ./redis.sh:/tmp/redis.sh
  redis-node-2:
    image: redis:7.2.3
    hostname: redis-node-2
    command: /tmp/redis.sh
    env_file: .env
    volumes:
      - ./redis.sh:/tmp/redis.sh
  redis-node-3:
    image: redis:7.2.3
    hostname: redis-node-3
    command: /tmp/redis.sh
    env_file: .env
    volumes:
      - ./redis.sh:/tmp/redis.sh
  redis-node-4:
    image: redis:7.2.3
    hostname: redis-node-4
    command: /tmp/redis.sh
    env_file: .env
    volumes:
      - ./redis.sh:/tmp/redis.sh
  redis-node-5:
    image: redis:7.2.3
    hostname: redis-node-5
    command: /tmp/redis.sh
    env_file: .env
    volumes:
      - ./redis.sh:/tmp/redis.sh
  redis-node-6:
    image: redis:7.2.3
    hostname: redis-node-6
    command: /tmp/redis.sh
    env_file: .env
    volumes:
      - ./redis.sh:/tmp/redis.sh
  redis-cluster-creator:
    image: redis:7.2.3
    command: redis-cli --cluster create redis-node-1:6379 redis-node-2:6379 redis-node-3:6379 redis-node-4:6379 redis-node-5:6379 redis-node-6:6379 --cluster-replicas 1 --cluster-yes
    env_file: .env
    environment:
      - REDISCLI_AUTH_USERNAME=${REDISCLI_AUTH_USERNAME}
      - REDISCLI_AUTH=${REDISCLI_AUTH_PASSWORD}
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
      - redis-proxy
  redis-proxy:
    image: haproxytech/haproxy-alpine:2.4
    volumes:
      - ./haproxy:/usr/local/etc/haproxy:ro
    ports:
      - 8404:8404
      - 7001-7006:9001-9006
      - 7101-7106:9101-9106
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
  redis-insight:
    container_name: redis-insight
    image: redislabs/redisinsight:1.14.0
    ports:
      - 8001:8001
    depends_on:
      - redis-proxy